<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="college.performance.dao.UserMainMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="college.performance.model.UserMain">
        <id column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="user_pwd" property="userPwd" />
        <result column="login_date" property="loginDate" />
        <result column="role" property="role"/>
        <result column="department" property="department"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_name, user_pwd, login_date
    </sql>

</mapper>
